<h1>I am hungry for:</h1>
<div> 
                    <table class="table">
                        <% for event in @events %>
    <p><a href="/events/<%= event[:id] %>"><%= event[:title] %></a></p>
                        <% end %>

 </div> 
                       