<h1>Welcome to F00dporn</h1>

<h2>Food porn is the #1 free community to help you find, review and rate food from over 50 million restaurants around the world.</h2>

<h2>Join now and free rewards to save thousands of bucks in food</h2>




<h1>Sign Up</h1>

<form action="/users/create" method="post">
  <div class="form-group">
    <label>Your name</label>
    <input type="text" class="form-control" name="name">
  </div>
  <div class="form-group">
    <label>Email address</label>
    <input type="email" class="form-control" placeholder="name@example.com" name="email">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" name="password">
  </div>
  <button type="submit" class="btn btn-primary">Sign Up</button>
</form>